.tab_box{
  text-align: left;
}
.tab:hover{
  width: auto;
  cursor: pointer;
  background-color: #5f5f5f;
}
.tab{
  padding: 15px;
  color:aliceblue;
  list-style-type: none;
}
.sidebar {
  width: 17vw;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  background-color: gray;
  position: absolute;
  left: 0px;
  top: 0px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
